@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html{
    scroll-behavior: smooth;
    font-family: 'Inter';
    font-size: 1rem;
}

*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
}

header{
    background-color:#252525 ;
    box-shadow: rgba(0, 0, 0, 0.26) 1px 1px 8px;
}


.container{
    margin: 0 auto;
    max-width: 1200px;
}


.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
   
}

ul li{
    list-style: none;
}

.nav-bar ul{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-bar ul li {
    font-weight: 200;
}

a {
    color: white;
}


/* --------- Switch --------- */

.switchMode{
    border: white solid 1px;
    padding: .3rem .4rem;
    display: flex;
    align-items: center;
    gap: .8rem;
    border-radius: 5rem;
}

.switchMode img:nth-child(1){
    background-color: white;
    padding: .5rem;
    border-radius: 5rem;
}

/* ---- BTN LOgin ----- */
.btn-login {
    background-color: transparent;
    border: 1px white solid;
    padding: .5rem .9rem;
    border-radius: 5rem;
}

.last-items{
    display: flex;
    gap: 2rem;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}


.card{
    border-radius: .4rem;
    margin-block: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.26) 1px 1px 8px;
    text-align: center;
    cursor: pointer;
}

.card img{
    width: 100%;
}

.text-card{
    padding: .5rem;
    line-height: 1.5rem;
}

.Cartaz{
    margin-block: 2rem;
    align-items: center;
}

.Cartaz img{

    width: 100%;
}


.Cartaz h2{

    top: 350px;
    right: 450px;

}

.Cartaz p {
    top: 400px;
    right: 450px;
    width: 50%;
}


.bg-image{
    background-size: cover;
    background-position: center;
    height: 500px;
     width: 100%; 
     object-fit: cover; 
     background-repeat: no-repeat;
     border-image: fill 1 linear-gradient(hsl(0 0 0 /.5), hsl(0 0 0 /.8));
      color: white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: start;
    justify-content: end;
}

.bg-image p {
    opacity: 50%;
}


/*  ----   btn op */

.btn-op{
    padding: .5rem .8rem;
    border: none;
    outline: none;
    font-weight: 700;
    border-radius: .3rem;
    cursor: pointer;
}


.darkMode{
    transition: all .300ms ease-in-out;
    background: #252525;
    color: white;
}

#dark.dark{
    background-color: white;
    border-radius: 5rem;
}

#dark{
    padding: .5rem;
}



#dark path{
    fill: white;
}

#dark.darkPath path{
    fill: #252525;
}

#white{
    background-color: white;
    padding: .5rem;
    border-radius: 5rem;
}

#white.add path{
    fill: white;
}

.white{
   background: white;
   color: #252525;
}
   

#white.remove{
    background-color: transparent;

} 












